*{
	box-sizing: border-box;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
  background-color: whitesmoke;
}
h1{
	display: flex;
	justify-content: center;
	margin-bottom: 25px;
  color: rgba(18, 23, 102, 0.897);
}
section{
	background-color: rgba(211, 211, 211, 0.932);
	border: 1px solid black;
	margin: 10px;
  overflow: hidden;
}

h3{
	float: right;
	position: relative;
	border: 1px solid black;
	margin: 0px;
	padding: 0px 30px;
  color: rgba(18, 23, 102, 0.897);
  overflow: hidden;
}
#chicken{
	background-color: #ffb6c1;
}
#beef{
	background-color:#95d2ebfd;
}
#sushi{
	background-color: #f7c55b;
}

p{
  width: 90%;
  height: auto;
  margin: 40px 10px 10px 10px;
}

.row {
    width: 100%;
}

/* Desktop View*/
@media (min-width: 992px) {
  .col-lg-4{
    float: left;
    width: 33.33%;
  }
}

/* Tablet View */
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6,.col-md-12 {
    float: left;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-12 {
    width: 100%;
  }
}

/* Mobile View*/
@media (max-width: 767px) {
  .col-sm-12 {
    float: left;
    width: 100%;
  }
}